:root {
  --greenAccentColor: #36ff80;
  --lilleAccentColor: #a78bfa;
  --blueAccentColor: #22d3ee;

  --foregroundColor: #bddbc8;
  --foregroundAlphaColor: #bbf7d05f;
  --headingsColor: #dcfce7;
  --accentColor: #36ff80;
  --backgroundColor: #1a332d;
}

.lightMode.greenPalette {
  --foregroundColor: #bddbc8;
}

.greenPalette {
  --accentColor: #22d3ee;
}

.bluePalette {
  --accentColor: var(--blueAccentColor);
}

.lillePalette {
  --accentColor: var(--lilleAccentColor);
}
