:root {
  --greenAccentColor: #36ff80;
  --darkGreenAccentColor: #22c55e;
  --lilleAccentColor: #a78bfa;
  --blueAccentColor: #22d3ee;
}

.dark-mode.green-palette {
  --foregroundColor: #bddbc8;
  --foregroundAlphaColor: #bbf7d05f;
  --headingsColor: #dcfce7;
  --backgroundColor: #1a332d;
  --accentColor: var(--greenAccentColor);
}

.dark-mode.blue-palette {
  --foregroundColor: #bdd7db;
  --foregroundAlphaColor: #bceff75f;
  --headingsColor: #dcf8fc;
  --backgroundColor: #1a3033;
  --accentColor: var(--blueAccentColor);
}

.dark-mode.lille-palette {
  --foregroundColor: #c4bddb;
  --foregroundAlphaColor: #cbbcf75f;
  --headingsColor: #e4dcfc;
  --backgroundColor: #201a33;
  --accentColor: var(--lilleAccentColor);
}

.light-mode.green-palette {
  --foregroundColor: #2b423a;
  --foregroundAlphaColor: #2b423a5f;
  --headingsColor: #2b423a;
  --backgroundColor: #f0fdf4;
  --accentColor: var(--darkGreenAccentColor);
}

.light-mode.blue-palette {
  --foregroundColor: #bdd7db;
  --foregroundAlphaColor: #bceff75f;
  --headingsColor: #dcf8fc;
  --backgroundColor: #1a3033;
  --accentColor: var(--blueAccentColor);
}

.light-mode.lille-palette {
  --foregroundColor: #c4bddb;
  --foregroundAlphaColor: #cbbcf75f;
  --headingsColor: #e4dcfc;
  --backgroundColor: #201a33;
  --accentColor: var(--lilleAccentColor);
}
