:root {
  --easing: 200ms ease-out;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Basier Square', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  background-color: var(--backgroundColor);
}

.transitions {
  transition: background-color var(--easing);

  & a {
    transition: color var(--easing);
  }

  & article {
    & h1,
    & h2,
    & p,
    & strong {
      transition: color var(--easing);
    }
  }
}
