:root {
  --gap: 20px;
  --totalGap: calc(var(--gap) * 7);
  --viewport: calc(100vw - calc(var(--gap) * 2));
  --fiveCols: calc((var(--viewport) / 6) * 5);
  --fourCols: calc((var(--viewport) / 6) * 4);
  --threeCols: calc((var(--viewport) / 6) * 3);
  --headerHeight: 80px;

  @media (min-width: 1920px) {
    --gap: 2%;
  }
}

body {
  padding: 0 var(--gap) var(--gap) var(--gap);
}
